body {
    background-color: rgb(103, 210,229);
    padding: 0;
    margin: 0;
    font-family: "Montserrat", "Avenir";  
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
}

h1 {
	color: white;
	text-align: center;
	background: rgb(103, 210,229);
	margin: 0;
	font-weight: normal;
	/*line-height: 1.1;*/
	padding: 5px 0;
}

span {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: rgb(103, 210,229);
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	--webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background:rgb(103, 210,229);
}


.stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

#keep-practice {
	margin-top: 0;
	text-align: center;
	font-family: 'Pacifico', cursive;
	color: #fff;
	font-size: 80px;
	background: -webkit-linear-gradient(#A83279, #D38312);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}








